body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Poppins, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*  Header Styling */

.nav-unordered-list{
  list-style: none;
  display: flex;
  gap: 2rem;
}



/*  ||  Featured Items Styling */

.fi-img{
  max-width: 100%;
}

.fi-grid--container{
  row-gap: 2rem;
}


.fi-item-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.sale-price{
  color: #A0A0A0;
}

.price{
  color: #136066;
  font-weight: 600;
}

.buy-btn{
  border-color: #136066!important;
  color: #136066;
  text-transform: uppercase;
}

.buy-btn:hover{
  background-color: #136066;
  color: #fff;
}


.fi-toggle-section{
  display: none;
}

.fi-toggle-section-styling{
  margin-top: 2rem;
  margin-bottom: 2rem;
  
}



.view-all-btn{
  background-color: #EC542A!important;
  border: none;
  text-transform: uppercase;
}


/* Small  */
@media screen and (max-width:576px){
  .view-all-btn{
    width: 80%!important; 
  }
}

.view-all-btn:hover{
  color: #EC542A;
  background-color: #fff!important;
  border: 1px solid #EC542A;
}